@page "/areaAplicacion"

@using BlazorFrontEnd.Services

@inject ApiService ApiService
@inject IJSRuntime JSRuntime
@inherits ValidacionAcceso

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Gestionar <b>Area de aplicacion</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addAplicacionModal" class="btn btn-success" data-bs-toggle="modal" @onclick="() => PrepareForAddOrEdit()">
                            <i class="material-icons">&#xE147;</i> <span>Añadir Nueva area de aplicacion</span>
                        </a>

                        <a href="#consultarAplicacionModal" class="btn btn-success" data-bs-toggle="modal" @onclick="PrepareForConsulta">
                            <i class="material-icons">&#xE8B6;</i> <span>Consultar el area de aplicacion</span>
                        </a>
                    </div>
                </div>
            </div>
            @if (aplicacion == null)
            {
                <p>Cargando...</p>
            }
            else if (!aplicacion.Any())
            {
                <p>No hay area de aplicacion registrados.</p>
            }
            else
            {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var aplicacion in aplicacion)
                        {
                            <tr>
                                <td>@aplicacion["id"]</td>
                                <td>@aplicacion["nombre"]</td>
                                <td>
                                    <a href="#editAplicacionModal" class="edit" data-bs-toggle="modal" @onclick="() => PrepareForAddOrEdit(aplicacion)">
                                        <i class="material-icons" data-bs-toggle="tooltip" title="Editar">&#xE254;</i>
                                    </a>

                                    <a href="#deleteAplicacionModal" class="delete" data-bs-toggle="modal" @onclick="() => SetAplicacionToDelete(aplicacion)">
                                        <i class="material-icons" data-bs-toggle="tooltip" title="Eliminar">&#xE872;</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<!-- Modal para Añadir/Editar el area de aplicacion-->
<div class="modal fade" id="addAplicacionModal" tabindex="-1" role="dialog" aria-labelledby="addAplicacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <EditForm Model="@currentAplicacion" OnValidSubmit="SaveAplicacion">
                <DataAnnotationsValidator />
                <div class="modal-header">
                    <h5 class="modal-title" id="addAplicacionModalLabel">@(isNewAplicacion ? "Añadir" : "Editar") Area de aplicacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Código</label>
                        <InputText class="form-control" @bind-Value="id"/>
                        <ValidationMessage For="@(() => id)" />
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <InputText class="form-control" @bind-Value="nombre" />
                        <ValidationMessage For="@(() => nombre)" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">@(isNewAplicacion ? "Añadir" : "Guardar")</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<!-- Modal para Eliminar el area de aplicacion-->
<div class="modal fade" id="deleteAplicacionModal" tabindex="-1" role="dialog" aria-labelledby="deleteAplicacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAplicacionModalLabel">Eliminar el area de aplicacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar esta area de aplicacion?</p>
                <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteAplicacion">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Consultar el area de aplicacion -->
<div class="modal fade" id="consultarAplicacionModal" tabindex="-1" role="dialog" aria-labelledby="consultarAplicacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultarAplicacionModalLabel">Consultar el area de aplicacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Código</label>
                    <input type="text" class="form-control" @bind="consultaId" @bind:event="oninput"/>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" @bind="consultaNombre" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" @onclick="ConsultarAplicacion">Consultar</button>
                <button type="button" class="btn btn-warning" @onclick="ModificarAplicacionConsultada" disabled="@(!aplicacionEncontrada)">Modificar</button>
                <button type="button" class="btn btn-danger" @onclick="EliminarAplicacionConsultada" disabled="@(!aplicacionEncontrada)">Eliminar</button>
            </div>
        </div>
    </div>
</div>



@code {
    private List<Dictionary<string, object>> aplicacion = new List<Dictionary<string, object>>();
    
    private Dictionary<string, object> currentAplicacion = new Dictionary<string, object>();

    private bool isNewAplicacion = true;

    private bool aplicacionEncontrada = false;

    private string id = "";

    private string nombre = "";

    private string consultaId = "";

    private string consultaNombre = "";

    private string path = "api/proyecto/area_aplicacion";

    protected override async Task OnInitializedAsync()
    {
        await LoadAplicacion();
    }

    private async Task LoadAplicacion()
    {
        try
        {
            aplicacion = await ApiService.GetDataAsync(path);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar el area de aplicacion: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al cargar el area de aplicacion. Por favor, intente nuevamente.");
        }
    }

    private void PrepareForAddOrEdit(Dictionary<string, object>? aplicacion = null)
    {

        isNewAplicacion = aplicacion == null;
        currentAplicacion = aplicacion ?? new Dictionary<string, object>();

        id = currentAplicacion.TryGetValue("id", out var c) ? c?.ToString() ?? "" : "";
        nombre = currentAplicacion.TryGetValue("nombre", out var n) ? n?.ToString() ?? "" : "";

        JSRuntime.InvokeVoidAsync("showModal", "addAplicacionModal");
    }

    private void PrepareForConsulta()
    {
        consultaId = "";
        consultaNombre= "";
        aplicacionEncontrada = false;
    }

    private void SetAplicacionToDelete(Dictionary<string, object> aplicacion)
    {
        currentAplicacion = aplicacion;
        JSRuntime.InvokeVoidAsync("showModal", "deleteAplicacionModal");
    }

    private async Task SaveAplicacion()
    {
        try
        {
            currentAplicacion["id"] = id;
            currentAplicacion["nombre"] = nombre;
            bool success;
            if (isNewAplicacion)
            {
                success = await ApiService.AddEntityAsync(path, currentAplicacion);

            }
            else
            {
                success = await ApiService.EditEntityAsync(path + "/id", id, currentAplicacion);
            }

            if (success)
            {
                await JSRuntime.InvokeVoidAsync("hideModal", "addAplicacionModal");
                await LoadAplicacion();

                id = nombre = string.Empty;
                currentAplicacion = new Dictionary<string, object>();
                isNewAplicacion = true;

                StateHasChanged();

                await JSRuntime.InvokeVoidAsync("alert", "Operación realizada con éxito.");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Error al guardar el area de aplicacion. Por favor, intente nuevamente.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al guardar el area de aplicacion: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al guardar el area de aplicacion. Por favor, intente nuevamente.");
        }
    }

    private async Task DeleteAplicacion()
    {
        try
        {
            if (currentAplicacion.TryGetValue("id", out var idObj) && idObj is string idStr)
            {
                bool success = await ApiService.DeleteEntityAsync(path + "/id", idStr);

                if (success)
                {
                    await JSRuntime.InvokeVoidAsync("hideModal", "deleteAplicacionModal");
                    await LoadAplicacion();
                    await JSRuntime.InvokeVoidAsync("alert", "area de aplicacion eliminado con éxito.");
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("alert", "Error al eliminar el area de aplicacion. Por favor, intente nuevamente.");
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al eliminar el area de aplicacion: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al eliminar el area de aplicacion. Por favor, intente nuevamente.");
        }
    }

    private async Task ConsultarAplicacion()
    {
        try
        {
            var resultado = await ApiService.GetDataAsync(path+$"/id/{consultaId}");
            if (resultado.Any())
            {
                var aplicacionConsultada = resultado.First();
                consultaNombre = aplicacionConsultada["nombre"]?.ToString() ?? "";
                aplicacionEncontrada = true;
            }
            else
            {
                consultaId = "";
                consultaNombre= "";
                aplicacionEncontrada = false;
                await JSRuntime.InvokeVoidAsync("alert", "No se encontró ninguna area de aplicacion con ese código.");
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al consultar el area de aplicacion: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al consultar el area de aplicacion. Por favor, intente nuevamente.");
        }
    }

    private async Task ModificarAplicacionConsultada()
    {

        PrepareForAddOrEdit(new Dictionary<string, object>
        {
            ["id"] = consultaId,
            ["nombre"] = consultaNombre,
        });

        await JSRuntime.InvokeVoidAsync("hideModal", "consultarAplicacionModal");

    }

    private async Task EliminarAplicacionConsultada()
    {
        SetAplicacionToDelete(new Dictionary<string, object>
        {
            ["id"] = consultaId,
            ["nombre"] = consultaNombre,
        });
        await JSRuntime.InvokeVoidAsync("hideModal", "consultarAplicacionModal");
    }
}